/********************************************
 REGOLE GENERALI
********************************************/
.debug .star-placeholder {
    height: 50px;
    background-color: red;
    border: 1px solid black;
}

.debug .p-placeholder {
    height: 100px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

.debug .button-placeholder {
    height: 50px;
    width: 70px;
    background-color: goldenrod;
    border: 1px solid black;
}

/********************************************
 HEADER
********************************************/
.debug #header-nav .logo {
    background-color: yellow;
    border: 1px solid black;
}

.debug #header-nav li {
    background-color: yellow;
    border: 1px solid black;
}

.debug #jumbo .img-placeholder {
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

/********************************************
 MAIN
********************************************/
.debug #portfolio .img-placeholder {
    height: 400px;
    background-color: coral;
    border: 1px solid black;
}

.debug #contact .flex-column .data {
    background-color: yellow;
    border: 1px solid black;
}

.debug #contact .flex-column .message {
    height: 100px;
}

/********************************************
 FOOTER
********************************************/
.debug #finder .col-sm-12 {
    background-color: coral;
    border: 1px solid black;
}