/********************************************
 COLORI
********************************************/
/* background */
.dark-color-bg {
    background-color: var(--dark-color);
}

.lightblack-bg {
    background-color: var(--lightblack-color);
}

.lightblue-bg {
    background-color: var(--lightblue-color);
}

/* color */
.lightblack-text {
    color: var(--lightblack-color);
}

.lightblue-text {
    color: var(--lightblue-color);
}

/********************************************
 REGOLE GENERALI
********************************************/
/* immagini */
#jumbo img {
    width: 30%;
    margin-bottom: 1rem;
}

#portfolio img {
    width: 100%;
}

/********************************************
 VARIABILI
********************************************/
:root {
    --dark-color: #2c3e50;
    --lightblue-color: #1abc9c;
    --lightblack-color: #3a546d;
}